.home-grid {
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;

  padding: 1.5rem 2.5rem;
  min-height: calc(100vh - 6rem);
  width: 100%;
}

.home-container {
  box-sizing: border-box;
  align-items: center;

  padding: 2rem;
  width: 100%;
  max-width: 50rem;

  border: .15rem solid;
  border-radius: 20px;
  border-color: var(--theme-color-half);
  box-shadow: 0 0 10px var(--theme-color-light);
}

.profileimg {
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

.hello {
  font-size: 125%;
  padding: .2rem;
}

.bio {
  padding-left: 2rem;
}

.home-icon {
  color: var(--theme-color);
  padding: 0px 4px;
}

.home-icon:hover {
  color: var(--theme-color-dark);
}

a {
  color: inherit;
  color: var(--theme-color);
  text-decoration: none;
}

a:hover {
  color: var(--theme-color-dark);
}
