@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v20/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#root {
  display: flex;
  flex-direction: column;
}

 /* 
  * Colors 
  * https://coolors.co/a3e7f7-3bbbd1-0d87a6-f8fdff-fbf9f3-2b2a2a-ffe78f-ffa977-fa896b-e35a51
  */

:root {
  --off-white: #fbf9f3;
  --off-black: #2b2a2a;

  --yellow: #ffe78f;
  --orange: #ffa977;
  --orange-red: #fa896b;
  --orange-red-half: rgb(250, 137, 107, .75);
  --red: #e35a51;

  --off-white-blue: #F8FDFF;
  --blue: #6691bd;
  --blue-light: #94b2d1;
  --blue-dark: #1e5a96;
  --blue-half: rgb(102, 145, 189, .4);

  --main-bg-color: var(--off-white-blue);
  --main-text-color: var(--off-black);

  --theme-color: var(--blue);
  --theme-color-light: var(--blue-light); 
  --theme-color-dark: var(--blue-dark);
  --theme-color-half: var(--blue-half); 
}

html {
  font-size: 1rem;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
